.main {
  padding: 0 6%;
}

.filterContainer {
  margin-top: 1.5rem;
}

.jobsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  margin: 1.5rem 0;
}

@media screen and (max-width: 769px) {
  .jobsContainer {
    grid-template-columns: auto;
  }
}
